<!-- Any cdn links to non js libraries to go here -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Please use a header script to set a relative path for when your are import a whole module-->
    <script type="importmap">
        {
            "imports": {
                "three": "./build/three.module.js"

            }
        }
    </script>
</head>