<!-- Page for when user enters request to unknown page address -->
<%- include("./partials/header.ejs")%>

<body>
    <%- include("./partials/navbar.ejs")%>

    <p>whoops!</p>
<%- include("./partials/navbar.ejs")%>