<!-- Entry point for the web pages, will be used for the drawing page at start -->

<%- include("./partials/header.ejs")%>

<body>
    <%- include("./partials/navbar.ejs")%>

    <p>Hello!</p>
<%- include("./partials/navbar.ejs")%>